#List {
  display: flex;
  flex-direction: column;
  
  list-style: none;
  height: 80%;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 90vw;
  
  margin: 0;
  margin-left: 0.5vw;
  padding: 0;
}
