.todoItem {
    
    display: flex;
    width: 87vw;
    min-height: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;

    background-color: aquamarine;
    z-index: 2;
    opacity: 0.8;
    outline: 1px solid black;
}
.todoItem-label {
    display: flex;
   width: 250px;
    margin: 2px;
    word-break: break-all;
    
}
.remove-button {
   margin-right: 2%;
   background-color: rgb(238, 238, 238);

   z-index: 3;
   opacity: initial;
}

